{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h2>Zmiana hasła</h2>
    <form method="POST" class="login-form">

                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />  

        <div class="form-group">
            <label for="old_password">Stare hasło:</label>
            <input type="password" id="old_password" name="old_password" required>
        </div>

        <div class="form-group">
            <label for="new_password">Nowe hasło:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>

        <div class="form-group">
            <label for="new_password2">Powtórz nowe hasło:</label>
            <input type="password" id="new_password2" name="new_password2" required>
        </div>

        <button type="submit">Zmień hasło</button>
    </form>
</div>

{% endblock %}