{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST" class="login-form" id="login-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />  

        <div class="form-group">
            <input type="text" id="nick" name="nick" placeholder="nick" required>
        </div>

        <div class="form-group">
            <input type="password" id="password" placeholder="hasło" name="password">
        </div>

        <button type="submit" id="login-button">Login</button>
        <button type="button" id="webauthn-button">Login with Device</button>
    </form>

    <script>
        document.getElementById('webauthn-button').addEventListener('click', async function(){
            const nick = document.getElementById('nick').value;
            if (!nick) {
                alert("Please provide your nick.");
                return;
            }
            try {
                const optionsResponse = await fetch("{{ url_for('webauthn.login_webauthn_partial') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token() }}"
                    },
                    body: JSON.stringify({ nick: nick })
                });
                if (!optionsResponse.ok) {
                    const errorData = await optionsResponse.json();
                    alert("Error: " + (errorData.error || "Error fetching options"));
                    return;
                }
                const options = await optionsResponse.json();
                
                const asseResp = await startAuthentication(options);
                
                const verificationResp = await fetch("{{ url_for('webauthn.verify_webauthn') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token() }}"
                    },
                    body: JSON.stringify(asseResp)
                });
                const verificationJSON = await verificationResp.json();
                if (verificationJSON && verificationJSON.verified) {
                    window.location.href = "{{ url_for('index') }}";
                } else {
                    alert("Authentication failed");
                }
            } catch (error) {
                console.error(error);
                alert("Authentication failed: " + error.message);
            }
        });
    </script>
</div>
{% endblock %}