# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest and tests
.pytest_cache/
.coverage

# Virtual environments
.venv/
venv/
venv2/

# Environment variables and miscellaneous
.env
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

# Docker compose
docker-compose.yml