body {
    background-image: url("/static/bg.webp");
    background-size: cover;
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.player-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.player-header h1 {
    text-align: center;
}

.stats-box {
    border: 2px dotted #ff00ff;
    padding: 15px;
    min-height: fit-content;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.stats-box table {
    width: 100%;
    flex: 1;
    
}

.stats-box h2 {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .player-grid {
        grid-template-columns: 1fr;
    }
}

/*  */
/* matches-table */
/*  */

.matches-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.matches-table a {
    margin: 0;
}

.matches-table th,
.matches-table td {
    border: 1px solid #ff00ff;
    padding: 5px;
    text-align: center;
}

.matches-table {
    padding: 5px;
    min-width: 100px;
}

@media screen and (max-width: 768px) {
    .matches-table {
        padding: 20px 0;
        min-width: 20px;
        height: 100px;
        white-space: nowrap;
    }
    
    .matches-table thead {
        display: none;
    }

    .matches-table tr {
        display: block;
        margin-bottom: 1em;
        border: 1px solid #ff00ff;
        padding: 0.5em;
    }

    .matches-table td { 
        display: block;
        text-align: right;
        border: none;
        position: relative;
    }

    .matches-table td[data-label="Gracze"] {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
    }

    .matches-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: #ff00ff;
    }
}

/*  */
/* invisible table */
/*  */

.invisible-table {
    border-collapse: collapse;
    width: auto;
    margin: 5px 0;
}

.invisible-table th,
.invisible-table td {
    border: none;
    padding: 2px 10px 2px 0;
    text-align: left;
    background: transparent;
    color: inherit;
    line-height: 1.2;
}

.invisible-table th {
    font-weight: bold;
    padding-right: 15px;
    vertical-align: top;
}

/*  */
/* main page */
/*  */

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.title {
    font-size: 3em;
    margin: 0;
}

.subtitle {
    font-size: 1.5em;
    margin: 10px 0 0 0;
    color: #fff;
}

/*  */
/* links */
/*  */

a {
    color: #ff99ff;
    text-decoration: underline;
    margin-right: 10px;
}


a:hover {
    color: #ffccff;
    text-decoration: underline;
}

a:visited {
    color: #cc99ff;
}

/*  */
/* main div */
/*  */

.zmitac {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background: #420d55;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .zmitac {
        width: 75vw;
        min-height: 100vh;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .logo-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo-text {
        margin-left: 0;
        margin-top: 10px;
        align-items: center;
    }

    .title {
        font-size: 2em;
    }

    .subtitle {
        font-size: 1.2em;
    }
}