{% extends "base.html" %}

{% block content %}
<div class="change-someone-password-container">
    <h2>Zmień czyjeś hasło</h2>
    <form method="POST" class="change-someone-password-form">

        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />  

        <div class="form-group">
            <select name="player_id" required>
                <option value="" disabled selected>Wybierz gracza</option>
                {% for p in players %}
                    <option value="{{ p.id }}">{{ p.nick }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="new_password">Nowe hasło:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>

        <button type="submit">Zmień hasło</button>
    </form>
</div>
{% endblock %}