{% extends "base.html" %}

{% block content %}



<div id="stats-short-info">
    <h2>Garść statystyk</h2>

    <p>Dzisiaj zostało rozegranych X meczy!</p>
    <p>W ciągu ostatnich 7 dni rozegrano Y meczy!</p>

    <br>

    <p>Dzisiaj najwięcej meczy wygrał <b>USER</b> - najwięcej przegrał <b>USER</b>.</p>
    <!-- <p>Natomiast najwięcej punktów zdobył <b>USER</b> (32.1) - najwięcej stracił <b>USER</b> (21.2).</p> -->

</div>

<div id="stats-matches-short">
    <h2>Dzisiejsze mecze</h2>

    <div class="table-wrapper">
        <table>
            <tr>
                <th>Data</th>
                <th>Gracze</th>
                <th>Wynik</th>
            </tr>
            <tr>
                <td>2021-10-01 12:21</td>
                <td>Arek vs Jan</td>
                <td>Arek</td>
            </tr>
            <tr>
                <td>2021-10-03 02:21</td>
                <td class="marquee"><span>Kasia, Asia, Basia, Zosia vs Adam, Piotr, Paweł, Jan</span></td>
                <td class="marquee"><span>Adam, Piotr, Paweł, Jan</span></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}