{% extends "base.html" %}

{% block content %}

<h2>Mecze</h2>

<table>
    <tr>
        <th>Data</th>
        <th>Gracze</th>
        <th>Wynik</th>
    </tr>
    <tr>
        <td>2021-10-01</td>
        <td>Adam vs Kasia</td>
        <td>Adam</td>
    </tr>
    <tr>
        <td>2021-10-02</td>
        <td>Adam vs Kasia</td>
        <td>Kasia</td>
    </tr>
    <tr>
        <td>2021-10-03</td>
        <td><p class="marquee">Kasia, Asia, Basia, Zosia vs Adam, Piotr, Paweł, Jan</p></td>
        <td>Adam, Piotr, Paweł, Jan</td>
    </tr>
</table>

{% endblock %}