{% extends "base.html" %}

{% block content %}
<h1>Dodaj mecz</h1>
<form method="POST" action="{{ url_for('add_match_route') }}">
    <div>
        <label>Rodzaj partyjki:</label>
        <select name="game_type" id="game_type" onchange="toggleFields()" required>
            <option value="single">solóweczka (1 vs 1)</option>
            <option value="multi">multifrutti (>1 vs >1)</option>
        </select>
    </div>

    <!-- soloweczka -->
    <div id="single_fields">
        <label>Gracz 1:</label>
        <select name="player1id" id="player1id" required>
            <option value="">Wybierz gracz</option>
            {% for player in players %}
            <option value="{{ player._id }}">{{ player.nickname }}</option>
            {% endfor %}
        </select>
        <br>
        <label>Gracz 2:</label>
        <select name="player2id" id="player2id" required>
            <option value="">Wybierz gracz</option>
            {% for player in players %}
            <option value="{{ player._id }}">{{ player.nickname }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- multifruti -->
    <div id="multi_fields" style="display:none;">
        <p>Wybierz graczy</p>
        <label>Team 1:</label>
        <select name="players1[]" id="players1" multiple size="4">
            {% for player in players %}
            <option value="{{ player._id }}">{{ player.nickname }}</option>
            {% endfor %}
        </select>
        <br>
        <label>Team 2:</label>
        <select name="players2[]" id="players2" multiple size="4">
            {% for player in players %}
            <option value="{{ player._id }}">{{ player.nickname }}</option>
            {% endfor %}
        </select>
    </div>

    <br>
    <label for="who_won">Wynik:</label>

    <select name="who_won" id="who_won" required>
        <!-- js jazda -->
    </select>

    <br>
    <div>
        <label for="date">Data:</label>
        <input type="date" name="date" required value="{{ today }}" />

        <label for="time">Godzinka:</label>
        <input type="time" name="time" value="{{ now }}" required />
    </div>

    <br><br>
    <button type="submit">Dodaj mecz</button>
</form>

<script>
    function toggleFields() {
        const gameType = document.getElementById('game_type').value;
        const singleFields = document.getElementById('single_fields');
        const multiFields = document.getElementById('multi_fields');

        const p1 = document.getElementById('player1id');
        const p2 = document.getElementById('player2id');
        const p1multi = document.getElementById('players1');
        const p2multi = document.getElementById('players2');

        if (gameType === 'multi') {
            singleFields.style.display = 'none';
            multiFields.style.display = 'block';

            p1.removeAttribute('required');
            p2.removeAttribute('required');

            p1multi.setAttribute('required', true);
            p2multi.setAttribute('required', true);
        } else {
            singleFields.style.display = 'block';
            multiFields.style.display = 'none';
            p1.setAttribute('required', true);
            p2.setAttribute('required', true);
            p1multi.removeAttribute('required');
            p2multi.removeAttribute('required');
        }

        const whoWon = document.getElementById('who_won');
        whoWon.innerHTML = '';

        whoWon.add(new Option('Wybierz wynik', ''));
        
        if (gameType === 'single') {
            whoWon.add(new Option('Gracz 1 Wygrał', 'player1'));
            whoWon.add(new Option('Gracz 2 Wygrał', 'player2'));
        } else {
            whoWon.add(new Option('Drużyna 1 Wygrała', 'players1'));
            whoWon.add(new Option('Drużyna 2 Wygrała', 'players2'));
        }
    }

    document.addEventListener('DOMContentLoaded', toggleFields);
</script>
{% endblock %}