<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  
    <!-- Basic Meta -->
    <title>ZMiTAC 2 - System do zarządzania meczami bilardowymi</title>
    <meta name="description" content="Nowoczesny system do zarządzania meczami bilardowymi">
    <meta name="keywords" content="bilard, pool, mecze, turniej, DS Babilon, ZMiTAC, kranus.pro, kranus">
    <meta name="author" content="suchencjusz">
    <meta name="robots" content="index">
    <meta name="language" content="pl">
  
    <!-- Favicon -->
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
  
    <!-- Theme Color -->
    <meta name="theme-color" content="#4CAF50">
    <meta name="msapplication-navbutton-color" content="#4CAF50">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4CAF50">
  
    <!-- OpenGraph -->
    <meta property="og:title" content="ZMiTAC 2 - Bilard">
    <meta property="og:description" content="Nowoczesny system do zarządzania meczami bilardowymi">
    <meta property="og:image" content="{{ url_for('static', filename='logo.gif') }}">
    <meta property="og:url" content="{{ url_for('index') }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pl_PL">
  
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- JS -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
    <script>
    const { startRegistration, startAuthentication } = SimpleWebAuthnBrowser;
    </script>

    <title>ZMiTAC 2</title>
</head>
  
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>

            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('info.actions') }}">Akcje</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}

            <li><a href="{{ url_for('info.rules') }}">Zasady</a></li>
            <li><a href="{{ url_for('info.about') }}">Info</a></li>
        </ul>
    </nav>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Zmitac2</p>
    </footer>
</body>
</html>