{% extends "base.html" %}

{% block content %}
<h1>Mecze</h1>
<table border="1" cellpadding="5" cellspacing="0s">
    <tr>
        <th>Data</th>
        <th>Rodzaj</th>
        <th>Gracze</th>
        <th>Wynik</th>
    </tr>
    {% for match in matches %}
    <tr>
        <td>
            {% if match.datetime %}
                {{ match.datetime.strftime('%Y-%m-%d %H:%M') }}
            {% elif match.date %}
                {% if match.date is string %}
                    {{ match.date }}
                {% else %}
                    {{ match.date.strftime('%Y-%m-%d %H:%M') }}
                {% endif %}
            {% else %}
                Nie wiem
            {% endif %}
        </td>
        <td>{{ "multifrutti" if match.multi_game else "solóweczka" }}</td>
        <td style="text-align: center;">
            {% if match.multi_game %}
                {% for player in match.players if player._id in match.players1 %}
                    <strong>{{ player.nickname }}</strong>{% if not loop.last %}, {% endif %}
                {% endfor %}
                vs
                {% for player in match.players if player._id in match.players2 %}
                    <strong>{{ player.nickname }}</strong>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                <strong>
                    {% for player in match.players if player._id == match.player1id %}
                        {{ player.nickname }}
                    {% endfor %}
                </strong>
                vs
                <strong>
                    {% for player in match.players if player._id == match.player2id %}
                        {{ player.nickname }}
                    {% endfor %}
                </strong>
            {% endif %}
        </td>
        <td>
            {% if match.multi_game %}
                {% if match.who_won == 'players1' %}
                    {% for player in match.players if player._id in match.players1 %}
                        {{ player.nickname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% elif match.who_won == 'players2' %}
                    {% for player in match.players if player._id in match.players2 %}
                        {{ player.nickname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% elif match.who_won == 'draw' %}
                    <i>Remis</i>
                {% else %}
                    <i>0-0 :/</i>
                {% endif %}
            {% else %}
                {% if match.who_won == 'player1' %}
                    {% for player in match.players if player._id == match.player1id %}
                        {{ player.nickname }}
                    {% endfor %}
                {% elif match.who_won == 'player2' %}
                    {% for player in match.players if player._id == match.player2id %}
                        {{ player.nickname }}
                    {% endfor %}
                {% elif match.who_won == 'draw' %}
                    <i>Remis</i>
                {% else %}
                    <i>0-0 :/</i>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}