{% extends "base.html" %}

{% block content %}

<h2 class="anim-text-color-one">Witaj na ZMiTAC2!</h2>

ostatni update: <u>19.10.2025</u>

<div id="home-basic-info">
    <div class="home-basic-info-item">
        <span class="info-label">Ostatni mecz:</span>
        <span class="info-value"><u>{{ last_match_str }}</u></span>
    </div>
    
    <div class="home-basic-info-item">
        <span class="info-label">5 ostatnich meczy:</span>
        <span class="info-value">z dzisiaj to do:</span>
    </div>
</div>

<div id="home-grid">
    <div class="grid-item info">
        <span class="info-label">Top Gracz</span>
        <span class="info-value">xxx (ELO: xx)</span>
    </div>

    <div class="grid-item">
        <span class="info-label">Liczba Sędziów</span>
        <span class="info-value">3</span>
    </div>

    <div class="grid-item">
        <span class="info-label">Liczba Graczy</span>
        <span class="info-value">20</span>
    </div>

    <div class="grid-item">
        <span class="info-label">Liczba Meczy</span>
        <span class="info-value">400</span>
    </div>
</div>


{% endblock %}