{% extends "base.html" %}
{% block content %}
<h1>Info</h1>

<h2>Playlista bilardowa d(-_-)b</h2>

<iframe style="border-radius:12px"
    src="https://open.spotify.com/embed/playlist/2mIpK2Xj4JpQVUrAv524yw?utm_source=generator" width="100%" height="352"
    frameBorder="0" allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<hr>

tu bedzie regulamin

<br>

eksport meczy do csv

<br>

<a href="{{ url_for('export') }}">eksportuj mecze</a>

<hr>

<p style="text-align: center;">Dumnie hostowane na <a href="https://mikr.us/?r=25459680" style="margin: 0;">mikr.us</a> • Autor: <a
        href="https://github.com/suchencjusz/zmitac2">suchencjusz</a></p>

<hr>

Ostatni update starego zmitaca: 2025-10-05

<br>

zmiany:
<ul>
    <li>minimalna liczba meczy do rankingu: 10</li>
    <li>poprawa walidacji formularzy przy dodawaniu meczy</li>
    <li>dodanie changeloga</li>
    <li>wywalenie opcji remisów xd</li>
    <li>sortowanie graczy po nickach w add_match</li>
    <li>inne pierdoly</li>
</ul>

{% endblock %}