{% extends "base.html" %}

{% from 'macros.html' import matches_table %}

{% block content %}

<div class="player-header">
    <h1>{{ stats.nickname }}</h1>
</div>

<div class="player-grid">

    <div class="stats-box">
        <h2>Statystyki <img src="http://emots.yetihehe.com/1/gool.gif"></h2>
        <table class="invisible-table">
            <tr>
                <th>Wszystkie mecze</th>
                <td>{{ stats.matches_count }}</td>
            </tr>
            <tr>
                <th>Wygrane</th>
                <td>{{ stats.wins_count }}</td>
            </tr>
            <tr>
                <th>Przegrane</th>
                <td>{{ stats.losses_count }}</td>
            </tr>
            <tr>
                <th>Remisy</th>
                <td>{{ stats.draws_count }}</td>
            </tr>
            <tr>
                <th>Win ratio</th>
                <td>{{ stats.win_ratio }}%</td>
            </tr>
        </table>
    </div>

    <div class="stats-box">
        <h2>Ostatni mecz <img src="http://emots.yetihehe.com/1/gra.gif"></h2>
        <table class="invisible-table">
            {% if stats.last_match_date %}
            <tr>
                <th>Data:</th>
                <td>{{ stats.last_match_date.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            <tr>
                <th>Przeciwnik:</th>
                <td>{{ stats.last_match_opponent }}</td>
            </tr>
            <tr>
                <th>Wynik:</th>
                <td>
                    {% if stats.last_match_who_won == "draw" %}
                        Remis
                    {% elif stats.last_match_who_won == "none" %}
                        Nierozstrzygnięty
                    {% elif stats.last_match_who_won == stats.nickname %}
                        Wygrana
                    {% else %}
                        Przegrana (wygrał {{ stats.last_match_who_won }})
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">Brak meczy</td>
            </tr>
            {% endif %}
        </table>
    </div>

    <div class="stats-box">
        <h2>Najczęstsi przeciwnicy <img src="http://emots.yetihehe.com/2/piwo.gif"></h2>
        <table class="invisible-table">
            {% if stats.top_opponents %}
            {% for opponent in stats.top_opponents %}
            <tr>
                <th>{{ opponent._id }}:</th>
                <td>{{ opponent.games_together }} meczy</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">Brak danych</td>
            </tr>
            {% endif %}
        </table>
    </div>


    <div class="stats-box">
        <h2>Osobiste relacje <img src="http://emots.yetihehe.com/3/uscisk.gif"></h2>
        <table class="invisible-table">
            {% if stats.nemesis %}
            <tr>
                <th>
                    <span class="relation-label">Nemezis:</span>
                </th>
                <td>
                    <a href="{{ url_for('player', nickname=stats.nemesis.nickname) }}">
                        {{ stats.nemesis.nickname }}
                    </a>
                    <span class="stats-detail">({{ stats.nemesis.losses }}/{{ stats.nemesis.total }}
                        przegranych)</span>
                </td>
            </tr>
            {% endif %}
            {% if stats.victim %}
            <tr>
                <th>
                    <span class="relation-label">Ofiara:</span>
                </th>
                <td>
                    <a href="{{ url_for('player', nickname=stats.victim.nickname) }}">
                        {{ stats.victim.nickname }}
                    </a>
                    <span class="stats-detail">({{ stats.victim.wins }}/{{ stats.victim.total }} wygranych)</span>
                </td>
            </tr>
            {% endif %}
            {% if not stats.nemesis and not stats.victim %}
            <tr>
                <td colspan="2" class="no-data">Brak danych</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

<div class="stats-box">
    <h2>Historia meczy</h2>
    
    {{ matches_table(matches) }}

</div>
{% endblock %}